<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles.css">
  <title>THE RECORD STORE!</title>
</head>
<body>
  <nav>
    <div class="top_links">
      <ul>
        <li class="nav_link"><a href ="/" class="w3-btn w3-black">Home</a></li>
        <li class="nav_link"><a href="/inventory" class="w3-btn">View Full Inventory</a></li>
        <li class="nav_link"><a href="/artists" class="w3-btn">View Artists</a></li>
        <li class="nav_link"><a href="/add_artist" class="w3-btn">Add an Artist</a></li>
        <li class="nav_link"><a href="/add_album" class="w3-btn">Add an Album</a></li>
      </ul>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
