<h1>Add Album to Inventory for <%= @artist.name %></h1>
<form action="album_added" method="post">
  <label for="title">Title : </label>
  <input type="text" name="title" id="title" required>
  <label for="genre">Genre : </label>
  <input type="text" name="genre" id="genre">
  <label for="quantity">Quantity : </label>
  <input type="number" name="quantity" id="quantity" required>
  <input type="submit" value="Add Album to inventory?">

</form>
