<p>Add Album</p>
<form action="add_album" method="post">
  <label for="artist_name">Artist: </label>
  <input type="text" name="artist_name" id="artist_name" required>
  <label for="title">Title: </label>
  <input type="text" name="title" id="title" required>
  <label for="genre">Genre: </label>
  <input type="text" name="genre" id="genre">
  <label for="quantity"></label>
  <input type="number" name="quantity" id="quantity" required>
  <input type="submit" value="Add album?">
</form>
