<p>Edit Artist Name</p>
<form action="update" method="post">
  <label for="name"></label>
  <input type="text" name="name" value="<%= @artist.name %>">
  <input type="submit" value="Update Artist Name?">

</form>
